<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GitHub OAuth Login</title>
</head>
<body>
<h1>Bienvenue dans l'application d'authentification OAuth avec GitHub</h1>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Bienvenue, <span th:text="${username}">Utilisateur</span></p>
    <form method="post" action="/logout">
        <button type="submit">Déconnexion</button>
    </form>
</div>

<div th:if="${!#authorization.expression('isAuthenticated()')}">
    <a href="/oauth2/authorization/github">Se connecter avec GitHub</a>
</div>
</body>
</html>
